body {
    font-family: monospace;
    background-color: #282a36;
    color: #f8f8f2;
    padding: 2em;
}

h1 {
    color: #ff79c6;
    border-bottom: 1px solid #6272a4;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h2 {
    color: #50fa7b;
    border-bottom: 1px dashed #6272a4;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h5 {
    color: #50fa7b;
    border-bottom: 1px dashed #6272a4;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.5em;
}


h3 {
    color: #ff5555;
    margin-top: 20px;
}

h4 {
    color: #f1fa8c;
    margin-bottom: 0px;
}

h5 {
    color: #50fa7b;
    border-bottom: 1px dashed #6272a4;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

pre {
    background-color: #44475a;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

p {
    margin: auto;
}

a {
    color: #50fa7b;
    text-decoration: none;
}

a:link {
    color: #ff5555;
    text-decoration: none;
}

a:visited {
    color: #ff5555;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid currentColor;
    margin-right: 8px;
    transition: transform 0.3s;
}

h2.expanded::before {
    transform: translateY(2.5px);
    border-top: none;
    border-bottom: 5px solid currentColor;
}


.section {
    display: none;
}

code {
    background-color: #44475a;
    color: #f8f8f2;
    padding: 2px 5px;
    border-radius: 3px;
}

pre {
    background-color: #44475a;
    color: #f8f8f2;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
}

pre code:hover {
    background-color: #555b6e;
    /* Slightly darker shade for hover effect */
    cursor: pointer;
}

.port-table {
    width: auto;
    margin: 10px auto;
    border-collapse: collapse;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.port-table th,td {
    border: 1px solid #44475a;
    padding: 5px 10px;
    text-align: center;
}
.port-table th {
    background-color: #50515e;
}
.port-table tr:hover {
    background-color: #50515e;
}

/* Styles for service links */
.service-link {
    color: #ff5555 !important;
    font-weight: bold;
}

/* Styles for tool links */
.tool-link {
    color: #ffb86c !important;
    /* Replace with the specific yellow color you want */
}

.port-style {
    font-size: 0.6em;
    color: #ff5555;
}

.step {
    color: #f8f8f2;
    font-size: .9em;
}

.step-checkbox {
    margin-left: 40px;
    margin-top: 5px;
}

.strike-through {
    text-decoration: line-through;
    color: #ffb86c;
}

.tool-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.tool:not(:last-child)::after {
    margin-left: 5px;
    margin-right: 5px;
}

.dropdown-top-right {
    position: absolute;
    top: 100px;
    right: 100px;
    display: inline-block;
}

#dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    max-height: 800px;
    /* Adjust this value as needed */
    overflow-y: auto;
    /* This makes the content scrollable */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-decoration: none;
    background-color: #6272a4;
}

#dropdown-content label {
    color: #ffb86c;
    padding: auto;
    text-decoration: none;
    display: flex;
    /* Change this from block to flex */
    align-items: center;
    /* Align the checkbox and text vertically */
}

#dropdown-content input {
    display: block;
    margin-right: 10px;
}

.dropdown-top-right:hover #dropdown-content {
    display: block;
}

#dropdown-content {
    /* ...existing styles... */
    padding: 12px;
    /* Add some padding to the dropdown content */
}

#search {
    width: calc(100% - 24px);
    /* Subtract the padding from the width */
    /* ...existing styles... */
}

#dropdown-button {
    font-size: 1em;
    background-color: #6272a4;
    color: #ffb86c;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    text-align: left;
    outline: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#dropdown-button:after {
    content: ' ▼';
}

#dropdown-button:hover,
#dropdown-button:focus {
    background-color: #ffb86c;
    color: #6272a4;
}

.expanded {
    display: block;
}

#table-container {
    position: relative;
}

#portInput {
    display: block;
    margin: 10px auto 0; /* 20px bottom margin to separate it from the table */
    background-color:#282a36;
    color:#f1fa8c;
    border: 1px solid #50fa7b;
    padding: 5px;
    width: 25%; /* Adjust as needed */
}

.special-tool-table {
    margin-left: auto;
    margin-right: auto;
}

#show-flags-btn {
    position: fixed;
    top: 20px;
    right: 20px;
}

.modal {
    display: none; /* Only set display once */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#nmap-scan-guide {
    padding-left: 30px; /* Adjust as needed */
}

#nmap-scan-guide h2, #nmap-scan-guide h3 {
    margin-left: -30px; /* Adjust as needed */
}

#nmap-scan-guide p {
    margin-bottom: 5px; /* Adjust as needed */
}

#navbar {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    height: 50px; /* Adjust as needed */
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar h1 {
    padding: 0px; /* Adjust as needed */
    margin-left: 0px;
    
}

#navbar a {
    float: left;
    display: block;
    color: #ffb86c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    margin-right: 10%;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 10px; /* Adjust as needed */
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #6272a4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body {
    padding-top: 50px; /* Adjust as needed */
}

#table-container {
    position: relative;
    width: fit-content;
    margin: auto;
}

#table-wrapper {
    position: relative;
    width: fit-content;
    margin: auto;
}

#tool-dropdown {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    z-index: 1000;
}

#port-filter {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    z-index: 1000;    
}