body {
    font-family: 'Arial', sans-serif;
    background-color: #282a36;
    color: #f8f8f2;
    padding: 2em;
}

h1 {
    color: #ff79c6;
    border-bottom: 1px solid #6272a4;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h2 {
    color: #50fa7b;
    border-bottom: 1px dashed #6272a4;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h5 {
    color: #50fa7b;
    border-bottom: 1px dashed #6272a4;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.5em;
}


h3 {
    color: #ff5555;
    margin-top: 20px;
}

h4 {
    color: #f1fa8c;
    margin-bottom: 0px;
}

pre {
    background-color: #44475a;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

p {
    margin: auto;
}

a {
    color: #50fa7b;
    text-decoration: none;
}

a:link {
    color: #ff5555;
    text-decoration: none;
}

a:visited {
    color: #ffb86c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid currentColor;
    margin-right: 8px;
    transition: transform 0.3s;
}

h2.expanded::before {
    transform: translateY(2.5px);
    border-top: none;
    border-bottom: 5px solid currentColor;
}


.section {
    display: none;
}

code {
    background-color: #44475a;
    color: #f8f8f2;
    padding: 2px 5px;
    border-radius: 3px;
}

pre {
    background-color: #44475a;
    color: #f8f8f2;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
}

pre code:hover {
    background-color: #555b6e; /* Slightly darker shade for hover effect */
    cursor: pointer;
}

.port-table {
    width: 100%;
    max-width: 1000px;
    margin: 30px auto;
    border-collapse: collapse;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.port-table th,
.port-table td {
    border: 1px solid #44475a;
    padding: 10px 20px;
    text-align: left;
}

.port-table th {
    background-color: #44475a;
    color: #f8f8f2;
}

.port-table tr:nth-child(even) {
    background-color: #373844;
}

.port-table tr:hover {
    background-color: #50515e;
}

.port-style {
    font-size: 0.6em;
    color: #ff5555;
}

.step-checkbox {
    margin-inline: 20px;
    margin-block: 10px;
}

.strike-through {
    text-decoration: line-through;
    color: #ffb86c;
  }